body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#homeDiv {
    background: url("/img/home.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.overlayDark {
    background: rgba(0, 0, 0, 0.3);
}

.font-weight-bolder {
    font-weight: 500;
}

.font-weight-bolder {
    font-weight: 700;
}

.font-weight-lighter {
    font-weight: 100;
}

.text-subtitle {
    color: #e83e8c !important;
    letter-spacing: .2em;
    font-weight: 700;
    text-transform: uppercase;
}
